---
import Panel from "../components/Panel.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import MainLayout from "../layouts/MainLayout.astro"

const title = "Music | Set List | Dance Band | Cover2Cover | Kelowna, BC"
const description =
  "We cover a wide range of classic rock, dance, pop and country songs from the 1960s, 1970s, 1980s, 1990s, 2000s and now. See a sample list and watch some videos here"
---

<BaseLayout {title} {description}>
  <MainLayout>
    <Panel>
      <h1>Sample Set List</h1>
      <p>
        We cover hundreds of classic rock songs, country and 80s tunes and can completely customize
        a night for your event. Here is a sample of some of the many songs we cover:
      </p>
      <div class="flex flex-wrap justify-around">
        <ul class="my-0 py-0 md:columns-2 lg:columns-3">
          <li>Sweet Emotion</li>
          <li>500 Miles</li>
          <li>Don't Stop Thinking About Tomorrow</li>
          <li>Barracuda</li>
          <li>Don't Fear The Reaper</li>
          <li>What I Like About You</li>
          <li>Fast as You</li>
          <li>Hotel California</li>
          <li>Hit Me With Your Best Shot</li>
          <li>Hold The Line</li>
          <li>Carry On Wayward Son</li>
          <li>Call Me</li>
          <li>Roxanne</li>
          <li>Jenny 867</li>
          <li>Raise A Little Hell</li>
          <li>Miss You</li>
          <li>Long Train</li>
          <li>Funky Music</li>
          <li>She Ain't Pretty</li>
          <li>Heartbreaker</li>
          <li>My Sharona</li>
          <li>Superstitious</li>
          <li>The Letter</li>
          <li>Don't Stop Believing</li>
          <li>Radar Love</li>
          <li>Twilight Zone</li>
          <li>Runaway</li>
          <li>Under My Thumb</li>
          <li>Coulda Been A Lady</li>
          <li>China Grove</li>
          <li>White Rabbit</li>
          <li>I Want You To Want Me</li>
          <li>Talkin' In Your Sleep</li>
        </ul>
      </div>
    </Panel>
    <Panel>
      <h2 class="mt-4">Want more?</h2>
      <p>
        Follow us on
        <a
          class="c2c-link"
          href="https://www.youtube.com/channel/UCJvpZlxA2DWkxSy8dTQ6wzw"
          target="social">YouTube</a
        >
        or
        <a
          class="c2c-link"
          href="https://www.youtube.com/results?search_query=cover2cover+kelowna"
          target="social">search for "Cover2Cover Kelowna"</a
        >.
      </p>
    </Panel>
  </MainLayout>
</BaseLayout>
