---
import { Image } from "astro:assets"
---

<section
  class="relative mx-auto max-w-5xl border-x-16 border-t-4 border-b-4 border-neutral-800 bg-neutral-800"
>
  <Image
    class="m-0 h-full w-full rounded-lg"
    src={import("../assets/band.jpg")}
    alt="Close up of hands playing guitar"
    layout="constrained"
    loading="eager"
    decoding="async"
    fetchpriority="high"
  />
  <div
    class="rounded-lg sm:absolute sm:right-0 sm:bottom-0 sm:left-0 sm:h-1/2 sm:bg-linear-to-t sm:from-black"
  >
  </div>
  <div class="bottom-8 left-1/8 bg-neutral-50 p-8 sm:absolute sm:bg-transparent sm:p-0">
    <h1 class="text-left text-2xl font-bold sm:text-3xl sm:text-neutral-50 lg:text-4xl">
      Kelowna's Classic Rock Dance Band
    </h1>
    <p class="mt-4 sm:text-neutral-50 md:text-lg lg:text-xl">
      Do you want your event to rock? We've got you covered.
    </p>
    <div class="mt-6">
      <a
        href="/contact"
        class="rounded bg-orange-700 px-4 py-2 font-semibold text-neutral-50 uppercase no-underline hover:bg-orange-600"
        >Book Us</a
      >
    </div>
  </div>
</section>
